
<div ng-cloak>
    <div class="row">
        <div layout="row"  layout-wrap layout-fill >
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="    padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2;">
                <i class="fa fa-bar-chart"  style="font-size:140%"></i>
                <b>Predictive Analytics</b>



            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="   padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2; margin-top: 5px">


                <div  style="    width: 100%;" >Select Filter</div>

                <md-divider ></md-divider>
                <div style="clear: both"></div>

                <div style="    width: 100%;" >
                    <div class="row">
                        <div class="col-md-2 pad">
                            <label>Province</label>
                            <md-select ng-model="size" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="size in sizes" value="{{size}}" class="designL">{{size}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>Region</label>
                            <md-select ng-model="name" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="datestate in state" value="{{datestate.name}}">{{datestate.name}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>District</label>
                            <md-select ng-model="cityname" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="citysize in city" value="{{citysize}}">{{citysize}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad datelist">
                            <label style="float: left">Date</label>
                            <md-datepicker style="    color: #373737;margin: 0;float: left;clear: both;"
                                           md-placeholder="29/09/2015" ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
                        </div>





                        <div class="col-md-2 pad" style="text-align: center">
                            <md-button  style="    background-color: rgb(16,108,200);color: #FFF;" class="md-primary">View</md-button>
                        </div>

                    </div>


                </div>


            </md-whiteframe>

            <div class="row" style="    width: 100%;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0;">
                <div class="col-xs-12 ">
                    <div class="col-xs-12 chartback">
                        <div class="col-xs-12 headone">
                            <span>Wood Production</span></div>

                        <div class="col-xs-12" style="text-align: center;">
                            <div id="chartmix"></div>
                          <!--  <span>Current year</span>-->
                        </div>

                    </div>

                    <!-- prateek-Comment Start- Removing 3 charts and replacing by 1 bar/discrete chart Above
                    <div class="col-xs-12 chartback" style="margin-top: 10px">
                        <div class="col-xs-12 headone"> <span>3 Months</span> </div>
                        <div class="col-xs-6" style="text-align: center;" >
                            <svg id="fillgauge5" height="200"></svg>


                            <span style="display: block;">Current year</span>
                        </div>
                        <div class="col-xs-6" style="text-align: center;" >
                            <svg id="fillgauge6"  height="200"></svg>
                            <span style="display: block;">Previous year</span>
                        </div>
                     </div>

                    <div class="col-xs-12 chartback" style="margin-top: 10px">
                        <div class="col-xs-12 headone">  <span>6 Months</span></div>
                        <div class="col-xs-6" style="text-align: center;" >
                            <div id="div1"></div>
                            <span style="display: block;margin-bottom: 43px;">Current year</span>
                        </div>
                        <div class="col-xs-6" style="text-align: center;" >
                            <div id="div2"></div>
                            <span style="display: block;">Previous year</span>
                        </div>
                    </div>
                    -->

                </div>
            </div>






        </div>
    </div>
</div>
