<div ng-cloak>
    <div class="row">
        <div layout="row"  layout-wrap layout-fill >
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="    padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2;">
                <i class="fa fa-fw fa-dashboard"
                   style="font-size:140%"
                    >
                    </i>
                <b>Performance Indicators
                </b>




            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-3dp" flex="100" style="   padding: 18px;background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #cfdbe2; margin-top: 5px">


                <div  style="    width: 100%;" >Select Filter</div>

                <md-divider ></md-divider>
                <div style="clear: both"></div>

                <div style="    width: 100%;" >
                    <div class="row">
                        <div class="col-md-2 pad">
                            <label>Province</label>
                            <md-select ng-model="size" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="size in sizes" value="{{size}}" class="designL">{{size}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>Region</label>
                            <md-select ng-model="name" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="datestate in state" value="{{datestate.name}}">{{datestate.name}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-2 pad">
                            <label>District</label>
                            <md-select ng-model="cityname" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="citysize in city" value="{{citysize}}">{{citysize}}</md-option>
                            </md-select>
                        </div>

                        <div class="col-md-2 pad">
                            <label>Time</label>
                            <md-select ng-model="size1" style="color: #373737;margin: 0;" placeholder="Select">
                                <md-option ng-repeat="size in sizes1" value="{{size}}">{{size}}</md-option>
                            </md-select>
                        </div>




                        <div class="col-md-2 pad datelist">
                            <label style="float: left">Date</label>
                            <md-datepicker style="    color: #373737;margin: 0;float: left;clear: both;"
                                           md-placeholder="29/09/2015" ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
                        </div>

                        <div class="col-md-2 pad" style="text-align: center">
                            <md-button  style="    background-color: rgb(16,108,200);color: #FFF;" class="md-primary" ng-click="renderkpi1Chart()">View</md-button>
                        </div>

                    </div>


                </div>


            </md-whiteframe>
            <div class="row" style="    width: 100%;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0;">
                <div class="col-xs-8 ">
                    <div class="col-xs-12 chartback">
                        <div class="col-xs-12 headon headone">  <span>Wood Production</span></div>
                        <div class="col-xs-6  mitslide" style="
    width: 48%;
    background: #F1F1F1;
    border: #ddd solid 1px;
    border-radius: 2px;    padding: 0">
                            <div class="col-xs-12 "  style="    background: #337ab7;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;"><span>Current year</span></div>

                            <div class="col-xs-12" style="text-align: center; margin-bottom: 20px">

                                <span class="sublabel" style="margin-top: 15px;" ng-repeat='data in MTDdataMaster.columnHeaders' ng-if="checkdata1 == data.name">Actual wood Production<span style="    display: block;
    float: right;

    font-size: 12px;
    color: #373737;"  >{{data.valueone | number:2 }} Ton</span>
                                <md-progress-linear md-mode="determinate" value="{{data.valueone/100}}"
                                                    height="400"></md-progress-linear>
                                </span>

                                <span class="sublabel" style="margin-top: 22px" ng-repeat='data in MTDdataMaster.columnHeaders'  ng-if="checkdata2 == data.name">Target wood Production <span style="    display: block;
    float: right;

    font-size: 12px;
    color: #373737;" >{{data.valueone | number:2}} Ton</span>
                                <md-progress-linear class="md-warn" md-mode="determinate"
                                                    value="{{data.valueone/100}}"></md-progress-linear>
</span>


                            </div>

                            <div class="col-xs-12 "  style="    background: #337ab7;
    padding: 12px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    height: 65px;"><span style="display: block;
    text-align: center;
    font-size: 19px;">{{difffirst | number:2 }}</span><span style="display: block;
    text-align: center;
    font-size: 12px;" >Wood Production Difference</span></div>

                        </div>
                        <div class="col-xs-6  mitslide" style="    margin-left: 15px;
    width: 48%;
    background: #F1F1F1;
    border: #ddd solid 1px;
    border-radius: 2px;    padding: 0">
                            <div class="col-xs-12 " style="   background: #337ab7;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;"><span>Previous year</span></div>
                            <div class="col-xs-12" style="text-align: center; margin-bottom: 20px">


                                <span class="sublabel" style="    margin-top: 15px;" ng-repeat='data in MTDdataMaster.columnHeaders' ng-if="checkdata3 == data.name">Actual wood Production <span style="    display: block;
    float: right;

    font-size: 12px;
    color: #373737;" >{{data.valueone | number:2}} Ton</span>
                                <md-progress-linear md-mode="determinate" value="{{data.valueone/100}}"
                                                    height="400"></md-progress-linear>
                                    </span>
                                <span class="sublabel" style="margin-top: 22px" ng-repeat='data in MTDdataMaster.columnHeaders' ng-if="checkdata4 == data.name">Target wood Production <span style="    display: block;
    float: right;

    font-size: 12px;
    color: #373737;" >{{data.valueone | number:2}} Ton</span>
                                <md-progress-linear class="md-warn" md-mode="determinate"
                                                    value="{{data.valueone/100}}"></md-progress-linear>
</span>

                                <!-- <div id="div1"></div>
                                 <span style="display: block;margin-bottom: 43px;">current years</span>-->
                            </div>

                            <div class="col-xs-12 "  style="    background: #337ab7;
    padding: 12px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    height: 65px;"><span style="display: block;
    text-align: center;
    font-size: 19px;">{{diffsnd | number:2 }}</span><span style="display: block;
    text-align: center;
    font-size: 12px;" >Wood Production Difference</span></div>
                        </div>
                        <!-- <div class="col-xs-6" style="text-align: center;">
                             <div id="chartmain"></div>
                             <span>Current year</span>
                         </div>
                         <div class="col-xs-6" style="text-align: center;">
                             <div id="chartmain1"></div>
                              <span>Previous year</span>
                         </div>-->
                    </div>

                    <div class="col-xs-12 chartback" style="margin-top: 10px">
                        <div class="col-xs-12 headone"> <span>Plantation</span> </div>
                        <div class="col-xs-6" style="text-align: center;" >
                            <a id="popoverData" class="btn"  rel="popover" data-placement="top"  data-trigger="hover">

                          <!--  <a id="popoverOption" class="btn" href="#" data-content="Popup with option trigger" rel="popover" data-placement="bottom" data-original-title="Title">Popup with option trigger</a>-->

                            <svg id="fillgauge5" height="200"></svg>
                            </a>

                            <span style="display: block;">Current year</span>
                        </div>
                        <div class="col-xs-6" style="text-align: center;" >
                            <a id="popoverDatafillgauge6" class="btn"  rel="popover" data-placement="top"  data-trigger="hover">
                                <svg id="fillgauge6"  height="200"></svg></a>
                            <span style="display: block;">Previous year</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 chartback">
                    <div class="col-xs-12 headone">  <span>Nursery</span></div>
                    <div class="col-xs-12" style="text-align: center;">
                        <a id="popoverDatadiv1" class="btn"  rel="popover" data-placement="top"  data-trigger="hover">
                            <div id="div1"></div>
                            </a>
                        <span style="display: block;margin-bottom: 43px;">Current year</span>
                    </div>
                    <div class="col-xs-12" style="text-align: center;">
                        <a id="popoverDatadiv2" class="btn"  rel="popover" data-placement="top"  data-trigger="hover">
                            <div id="div2"></div>
                            </a>
                        <span style="display: block;">Previous year</span>
                    </div>
                </div>

            </div>






        </div>
    </div>
</div>
